*{
   font-family: 'Muli', sans-serif;;
}

*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


/* LOADER */
.loader{
    position: fixed;
    width: 100vw; 
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
}

.lds-facebook {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: white;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    } 
}

/* LOGIN */
.login-page{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #AD9480;
}

.login-page .login-card{
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 30%;
    max-width: 90%;
    transform: translate(-50%,-50%);
}

.login-page .login-card > .login-card-header{
    border: 1px solid black;
    padding: 10px 20px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: white;
    font-weight: bolder;
}

.login-page .login-card > .login-card-body{
    border: 1px solid black;
    border-top: 0;
    padding: 10px 10%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: white;
}

.login-page .login-card > .login-card-body > span{
    font-size: 12px;
}

.login-page .login-card > .login-card-body > input{
    border: 1px solid black;
    margin: 10px 0;
    width: 100%;
}

.login-page .login-card > .login-card-body > button{
    border: 1px solid black;
    margin: 0 0 20px 0;
    width: 100%;
}

.login-page .login-card > .login-card-body > button:hover{
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: 0 0 20px 0;
    width: 100%;
}