:root {
    --black: rgb(24, 24, 24);
    --white: rgba(255, 255, 255, 0.85);
    --color-1: #AD9480;
    --color-2: black;
    --color-3: #1A936F;
    --color-4: #d32f2f;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.hidden{
    display: none;
}

html, body{
    margin: 0;
}

body.not-ready{
    overflow: hidden;
    margin: 0;
    background-color: white;
}

.navbar{
    background-color: transparent;
    font-family: 'Muli', sans-serif;
    z-index: 10000;
}

.navbar .navbar-brand,
.navbar .navbar-brand:focus{
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, .8);
}

.navbar .navbar-brand:hover{
    color: rgba(255, 255, 255, .8);
    transform: scale(0.95);
}

.navbar .navbar-nav .nav-item .nav-link{
    font-family: 'Muli', sans-serif;
    color: rgba(255, 255, 255, .8);
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: rgba(255, 255, 255, 1);
}


@media screen and (max-width: 991px) {
    .navbar.open{
        background-color: var(--color-1) !important;
        /* background-image: linear-gradient(to bottom, black 90%, rgb(31, 31, 31) 100%); */
    }

    .navbar.open .navbar-brand,
    .navbar.open .navbar-brand:focus{
        color: rgba(255, 255, 255, .8);
    }

    .navbar.open .navbar-brand:hover{
        color: rgba(255, 255, 255, .8);
        transform: scale(0.95);
    }
}

.navbar.solid{
    background-color: black;
}

.navbar button.navbar-toggler{
    border: 0;
	position: relative;
  	padding:10px;
    cursor:pointer;
    
}

.navbar button.navbar-toggler > .circle {
	width:20px;
	height:20px;
    position:relative;
    margin: 0;
}

.navbar button.navbar-toggler > .circle .line {
	position: absolute;
	height: 3px;
	width:100%;
	border-radius:8px;
    left:0
}

.navbar:not(.solid):not(.open) button.navbar-toggler > .circle .line{
    background: rgba(255, 255, 255, 0.8);
}

.navbar.solid button.navbar-toggler > .circle .line, .navbar.open button.navbar-toggler > .circle .line{
    background: rgba(255, 255, 255, 0.8);
}

.navbar button.navbar-toggler > .circle .line.top {
	top:18%;
}

.navbar button.navbar-toggler > .circle .line.middle {
	top:48%;
}

.navbar button.navbar-toggler > .circle .line.bottom {
	top:78%;
}

.navbar button.navbar-toggler > .icon.close .top {
	transform:rotate(45deg);
	top:48%;
}
.navbar button.navbar-toggler > .icon.close .middle, .navbar button.navbar-toggler > .icon.close .bottom {
	transform:rotate(-45deg);
	top:48%;
}

main#inicio{
    position: relative !important;
    margin: 0;
    padding: 0;
    height: 150vh;
    width: 100vw;
}

main .home{
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .title-wrapper{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    height: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    
}

main .title-wrapper > .title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 11.5vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    opacity: 1;
    color: #ad9480; 
}

main .home-front {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width: 991px){
    main#inicio{
        background-image: linear-gradient(to top, black 0%, transparent 75%);
        height: 150vh;
    }
        
    main .home{
        position: fixed !important;
        height: 100vh;
        z-index: -30;
        -webkit-transform:translate3d(0,0,0); 
        transform: translate3d(0,0,0);
    }
    
    main .title-wrapper{
        z-index: -20;
        -webkit-transform:translate3d(0,0,0); 
        transform: translate3d(0,0,0);
    }
    
    main .home-front {
        position: fixed !important;
        z-index: -10;
        height: 100vh;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
       
    main .home-curtain{
        display: none;
    }
    
}

/* Bigger screen */
@media screen and (min-width: 992px){
    main .home{
        position: absolute;
        height: 150vh;
        background-attachment: fixed;
    }

    main .home-front {
        position: absolute !important;
        height: 150vh;
        background-attachment: fixed;
    }

    main .home-curtain{
        position: absolute !important;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        height: 0;
        bottom: 0;
        height: 150vh;
        width: 100vw;
        background-image: linear-gradient(to top, black 0%, transparent 75%);
    }
}

@media screen and (max-width: 767px) {

    main .title-wrapper > .title{
        font-size: 55px;
    }

    main .home{
        background-image: url("../images/home/back_small.jpg");
    }

    main .home-front {
        background-image: url("../images/home/front_small.png");
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    main .home{
        background-image: url("../images/home/back_medium.jpg");
    }
    
    main .home-front {
        background-image: url("../images/home/front_medium.png");
    }
}

@media screen and (min-width: 1200px){
    main .home{
        background-image: url("../images/home/back_large.jpg");
    }
    
    main .home-front {
        background-image: url("../images/home/front_large.png");
    }
}

section{
    font-family: 'Muli', sans-serif;
    background-color: white;
}

section .row{
    margin: 0;
}

/* About */
section .about{
    width: 100%;
    background-color: var(--color-2);
    margin: 0 !important;
    min-height: 100vh;
}

@media screen and (max-width: 767px){
    section .about{
        padding: 96px 0 ;
    }
}

@media screen and (min-width: 768px){
    section .about > div{
        height: 100vh;
    }
    
    section .about > div > div{
        margin: auto;
    }

    section .about p{
        column-count: 2;
        column-gap: 30px;
    }
}

section .about h1{
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}

section .about p{
    color: var(--white);
    word-wrap: break-word;
    text-align: justify;
}

/* section .about p span{
    padding-left: 2.5em;
} */

/* Portefolio */
section .portefolio{
    width: 100%;
    background-color: white;
    margin: 0 !important;
    min-height: 100vh;
    padding: 96px 0 ;
}

section .portefolio h1{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
    color: var(--black);
}

section .portefolio p{
    text-align: left;
    word-wrap: break-word;
    font-family: 'Muli', sans-serif;
    color: var(--black);
}
section .portefolio .waiting-status{
    padding-top: 20vh;
    margin: 0 auto; 
}

section .portefolio p{
    padding: 0 5px;
    text-align: left;
}

section .portefolio .album{
    padding: 10px;
}

section .portefolio .crop-image-1-1{
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    
}

section .portefolio .album .album-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;

}

section .portefolio .album .album-name{
    position: absolute;
    display: none;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 5px;
    -webkit-animation-name: showFromBottom; 
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-name: showFromBottom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

section .portefolio .album .album-name .album-name-click{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section .portefolio .album .album-name .show-more{
    color: white;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    text-transform: unset;
    font-size: 12px;
    cursor: pointer;
}


@media screen and (min-width: 768px){
    section .portefolio .album .album-name .show-more,
    section .portefolio .album .album-name .album-click-mobile{
        display: none;
    }
}

@media screen and (max-width: 767px){
    section .portefolio .album .album-name .album-name-click{
        display: none;
    }

    section .portefolio .album .album-name .album-click-mobile{ 
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        -webkit-animation-name: showFromBottom; 
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-name: showFromBottom;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

}

@-webkit-keyframes showFromBottom {
    from {top: 100%;}
    to {top: 0;}
}
 
@keyframes showFromBottom {
    from {top: 100%;}
    to {top: 0;}
}

section .portefolio .album .album-name p{
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    width: 100%;
}

section .portefolio .crop-image-1-1:hover .album-name, 
section .portefolio .crop-image-1-1:focus .album-name {
    display: flex;
    vertical-align: middle;
}

/* Contacts */
section .contacts{
    width: 100%;
    background-color: black;
    margin: 0 !important;
    min-height: 100vh;
}

@media screen and (max-width: 767px){
    section .contacts{
        padding: 96px 0 ;
    }
}

@media screen and (min-width: 768px){
    section .contacts > div{
        height: 100vh;
    }
    
    section .contacts > div > div{
        margin: auto;
    }
}

section .contacts h1{
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}

section .contacts .contacts-cards-container .contacts-card-out{
    padding: 10px;   
}

section .contacts .contacts-cards-container .contacts-card-out .contacts-card{
    height: 120px;
    background-color: var(--color-1);
    border-radius: .5rem;
    padding: 10px;
    position: relative;
    cursor: pointer;

}

section .contacts .contacts-cards-container .contacts-card-out .contacts-card:hover{
    opacity: .9;

}

section .contacts .contacts-cards-container .contacts-card-out .contacts-card i{
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

/* section .contacts .contacts-card{
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

section .contacts .contacts-left{
    display: flex;
    align-items: center;
}

section .contacts .contacts-left > .mask {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

section .contacts .contacts-left > .contacts-container {
    padding: 30px 10px;
    color: var(--black);
    margin: 0 auto;
    z-index: 1;
}

section .contacts .contacts-left > .contacts-container img{
    width: 40%;
    padding-bottom: 30px;
}

section .contacts .contacts-left > .contacts-container > .contact-option{
    text-align: left;
    margin-bottom: 8px;
}

section .contacts .contacts-left > .contacts-container > .contact-option i{
    margin-right: 10px;
    opacity: .8;
    font-size: 20px;
}

section .contacts .contacts-left > .contacts-container .contact-option:last-child{
    margin-bottom: 0;
    word-break: break-all;
}


section .contacts .send-mail h4{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 40px;
    font-size: 14px;
    padding-bottom: 20px;
}

section .contacts .send-mail form input,
section .contacts .send-mail form textarea{
    background-color: #f1f1f1;
    border: 0;
    border-radius: .5rem;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 90%;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}

section .contacts .send-mail form input,
section .contacts .send-mail form textarea{
    background-color: #f1f1f1;
    border: 0;
    border-radius: .5rem;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 90%;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}

section .contacts .send-mail form input::placeholder,
section .contacts .send-mail form textarea::placeholder{
    color: #bebebe;
}

section .contacts .send-mail button{
    padding: 5px 20px;
    font-size: 13px;
    border-radius: .5rem;
    background-color: var(--color-2);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    border: 0;
    margin-bottom: 30px;

}

section .contacts .send-mail button:hover{
    opacity: .8;
    transform: scale(1.01);
} */

/* LOADER */
.loader{
    position: fixed;
    width: 100vw; 
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
}

.lds-facebook {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: white;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    } 
}

/* Album screen */
.album-screen{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
}

.album-screen .album-screen-back{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    display: block;
}

.album-screen .album-close{
    position: absolute;
    top: 15px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.075);
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.album-screen .album-close i{
    position: absolute;
    top: 5px;
    left: 8px;
}

.album-screen .album-close:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.35);
}

.album-screen .album-image-display{
    position: fixed;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 36px);
}

.album-screen .album-image-counter{
    position: fixed;
    top:20px;
    left: 5px;
    font-size: 10px;
    color: var(--white);
}

.album-screen .album-rating{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.album-screen .album-rating .stars{
    display: inline-block;
    position: relative;
}

.album-screen .album-rating .stars .star{
    float: right;
    cursor: pointer;
    color: #ced7db;
    position: relative;
    font-size: 20px;
}

.album-screen .album-rating .stars .star:hover ,
.album-screen .album-rating .star:hover ~ .star
{
    color: #81d4fa;
}

.album-screen .album-rating .album-rating-avg{
    position: absolute;
    color: #ced7db;
    font-size: 13px;
    padding-left: 6px;
    display: inline-block;
    top: 0px;
}

.album-screen .album-arrow{
    position: absolute;
    top: calc(50% - 40px);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.075);
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.25);
    width: 30px;
    height: 30px;
}

.album-screen .album-arrow i{
    position: absolute;
    left: 6px;
    top: 5px;
}

.album-screen .album-arrow:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.35);
}

.album-screen .album-arrow#album-arrow-last{
    left: 5px;
}

.album-screen .album-arrow#album-arrow-next{
    right: 5px;
}

/* Notifications */
.notifications-panel{
    position: fixed;
    top: 60px;
    right: 0;
    margin-left: 0;
    padding-left: 0;
    z-index: 1000;
}

.notifications-panel > .notification{
    position: relative;
    border-radius: .25rem;
    padding: 20px 20px 20px 20px;
    font-size: 12px;
    margin-bottom: 5px;
    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
}

.notifications-panel > .notification.success{
    background-color: var(--color-3);
    color: white;
}

.notifications-panel > .notification.failure{
    background-color: var(--color-4);
    color: white;
}

.notifications-panel > .notification > .notification-close{
    position: absolute;
    top: 5px;
    right: 5px;
    transform: translateX(-50%);
    font-size: 15px;
    cursor: pointer;
}

.notifications-panel > .notification > .notification-close:hover{
    opacity: .7;
}



.modal {
    text-align: center;
    padding: 0!important;
}
  
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; 
}
  
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}