:root {
    --nav-shadow: rgba(0, 0, 0, 0.25);
    --main-color: black;
    --secondary-color: rgb(94, 94, 94);
}

@import url('https://fonts.googleapis.com/css?family=Cairo:200,400,700,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body{
    /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
    background-color: whitesmoke;
}


.navbar{
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 0;
    padding-bottom: 0; 
    padding: 10px 10px; 
}

.navbar.transparent{
    -webkit-animation-name: fadeOut; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeOut;
    animation-duration: 1s;
}

.navbar.solid{
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 2px 0px var(--nav-shadow);
    -moz-box-shadow: 0px 0px 2px 0px var(--nav-shadow);
    box-shadow: 0px 0px 2px 0px var(--nav-shadow);


    -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeIn;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    from {background-color: rgba(255, 255, 255, 0.2);}
    to {background-color: rgba(255, 255, 255, 1);}
}
  
/* Standard syntax */
@keyframes fadeIn {
    from {background-color: rgba(255, 255, 255, 0.2);}
    to {background-color: rgba(255, 255, 255, 1);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeOut{
    from {background-color: rgba(255, 255, 255, 1);}
    to {background-color: rgba(255, 255, 255, 0.2);}
}
  
/* Standard syntax */
@keyframes fadeOut {
    from {background-color: rgba(255, 255, 255, 1);}
    to {background-color: rgba(255, 255, 255, 0.2);}
}


.navbar .navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: italic;
}

/* .navbar .navbar-brand svg{
    top: 0px;
    height: 70px;
    position: absolute;
} */

.navbar .navbar-nav .nav-item .nav-link{
    color: rgba(0, 0, 0, 0.6) !important;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.navbar .navbar-nav .nav-item.active{
    border-bottom: 3px solid var(--main-color);
}

.navbar .navbar-nav .nav-item:not(.active):hover{
    border-bottom: 3px solid var(--secondary-color);
}

@media screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-item.active{
        border: 0;
    }

    .navbar .navbar-nav .nav-item.active > .nav-link{
        color: var(--main-color) !important;
    }
    
    .navbar .navbar-nav .nav-item:not(.active):hover{
        border: 0;
    }

    .navbar .navbar-nav .nav-item:not(.active):hover > .nav-link{
        color: var(--secondary-color) !important;
    }
}

.home{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/slider.jpg") !important; 
}


.home > .home-content{
    position: relative;
    height: 100%;
    width: 100%;
}

.home > .slider{
    position: absolute;
    font-size: 90px;
    color: rgb(65, 65, 65);
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 100vh;
    transform: translateY(calc(-50% + 12px));
}

/* .home{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
} */

.home, .section {
    padding-top: 63px;
}

.section {
    height: 100vh;
    width: 95%;
    margin-left: 2.5%;

    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}

.section  > .wrapper {
    height: 100%;
    padding: 50px 0;

}

.section  > .wrapper > .container{
    position: relative;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-color: white;
    height: 100%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .10);
    border-radius: .5rem;
}

.section  > .wrapper > .container > .section-title{
    position: absolute;
    font-size: 80px;
    top: -65px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


footer svg{
    height: 25px;
    height: 25px;
}

footer ul{
    margin-bottom: 0;
}